<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted equal height stackable grid">
              <div class="five wide column">
                <div class="ui inverted link list">
                  <a href="#" class="item">larchedenoe@gmail.com</a><br>
                  <a href="#" class="item">02.234.56.78</a><br>
                  <a href="https://github.com/OussamaAouirika/larchedenoe" class="item" target="_blank">GitHub</a>
                </div>
              </div>
              <div class="eleven wide right aligned bottom aligned column">
                <h4 class="ui inverted header">© 2020 Animalerie</h4>
                <p class="smalltext"><a href="https://www.google.be/maps/" target="_blank">Rue des animaux 44</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</footer>